<template>
 <v-footer height="auto" color="primary" dark >
    <v-spacer></v-spacer>
    <div>&copy; {{ new Date().getFullYear() }}</div>
    <v-spacer></v-spacer>
  </v-footer>
</template>

<script>
  export default {
    name: 'appFooter',
     data () {
      return {
        links: [
          'Home',
          'About Us',
          'Team',
          'Services',
          'Blog',
          'Contact Us'
        ]
      }
    }
  }
</script>