<template>
  <header>
    <v-flex hidden-md-and-down>
      <v-toolbar app fixed clipped-left color="white"  >
          <a href="/home" class="d-flex router-link-active">
            
            <img class="logoW" :src="require('@/assets/uidai_logo.svg')" style="width:550px; height:60px;">         
            <!-- <img :src="require('@/assets/logoBar.png')" style="width:550px; height:60px;">          -->
          </a>  
          <v-spacer>
          </v-spacer>
          <img class="logoW" :src="require('@/assets/aadhaar-1.png')" style="height:60px;">   
          <!-- <v-toolbar-side-icon @click.stop="drawer = !drawer" ></v-toolbar-side-icon> -->
      </v-toolbar>       
    </v-flex>
    <v-flex hidden-md-and-up >
      <v-toolbar app fixed clipped-left color="white" dark >
          <a href="/home" class="d-flex router-link-active">
            <img :src="require('@/assets/uidai_logo.svg')" style="width:200px; height:60px;" >         
          </a>  
          
          <v-spacer>
          </v-spacer>
          <img class="logoW" :src="require('@/assets/aadhaar-1.png')" style="height:30px;">   
          <!-- <v-toolbar-side-icon @click.stop="drawer = !drawer" dark></v-toolbar-side-icon> -->
      </v-toolbar>       
    </v-flex>
  </header>
</template>

<script>

export default {
  name: 'appHeader',
  data () {
    return {
      drawer: false
    }
  }
}
</script>
<style scoped>
  .logoW {
    fill: white;
  }
</style>