<template>
  <v-container fluid>
    <v-layout row>
      <v-flex md6 xs12>
        <v-layout column md6>
          <v-flex xs12 md6 lg6  > 
            <v-text-field box label="Seleccionar .json" @click="pickFile()" v-model="jsFileName" prepend-icon='fa-file-upload'></v-text-field>
            <input type="file" style="display: none" ref="fileInput" @change="processFile($event)">
          </v-flex>
          <v-flex xs12 md6 mb-3>
            <v-layout row>
              <v-flex offset-xs3 offset-md4>
                <v-btn color="success" @click="runFile()">Run</v-btn>
                <v-btn color="info" @click="cleanFile()">Clean</v-btn>          
              </v-flex>     
            </v-layout>
          </v-flex>   
          <v-flex>
            <v-textarea height="500px" box prepend-icon='fa-file-signature' name="input-2-1" :label="jsFileName" :value="jsFileText" hint='Representacion JSON.' style="margin-right:1rem;"></v-textarea>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
export default {
  name:"DEV",
  data(){
      return{
        title: "File Upload",
        dialog: false,
        jsFileName:'',
        jsFileText:'Mensaje de salida'
      }
    },
   methods: {
    //Toma el archivo
    pickFile () {
        this.$refs.fileInput.click ()
    },
    //Toma la data del archivo .json 
    processFile(event) {
        var reader = new FileReader();
        let p_file = event.target.files[0];
        this.jsFileName = event.target.files[0].name;
        // console.log(p_file);
        reader.onload =
          function(event) {
            // console.log("reader.onload", event.target.result);
            window.jsFileText = event.target.result;
          };
        if (p_file != undefined) {
          reader.readAsText(p_file);
        }
    },    
    //Limpia el archivo
    cleanFile(){
      const input = this.$refs.fileInput;
      input.type = ".json";
      input.type = "file";
      this.jsFileText = ""
      this.jsFileName = ""
      window.jsFileText = ""

    },
    //Ejecuta "RUN"
    runFile(){
      this.jsFileText = window.jsFileText
      let objeto =  JSON.parse(this.jsFileText);
      console.log("Objeto:",objeto );
    },
  }
}
</script>