<template>
  <v-container>
    <appHeader/>
    <dashboard />
  </v-container>
</template>

<script>
  import dashboard from '../components/dashboard'
  import appFooter from '../template/appFooter'
  import appHeader from '../template/appHeader'
  export default {
    components: {
      dashboard,
      appFooter,
      appHeader,
    }
  }
</script>
