
<template>
 <v-container fluid fill-height>
        <v-layout align-center justify-center>
          
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-12">
              <v-toolbar dark color="primary">
                <v-toolbar-title>Login</v-toolbar-title>
                <v-spacer></v-spacer>                
                   <v-img max-width="70"
                    :src="require('@/assets/aadhaar-2.png')"
                  ></v-img>                
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field prepend-icon="person" name="login" label="Login" type="text"></v-text-field>
                  <v-text-field id="password" prepend-icon="lock" name="password" label="Password" type="password"></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary"  @click="goToHome">Login</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
</template>
<script>
  import router from '../router.js';
  export default {
    data: () => ({
      drawer: null
    }),
    methods:{
      goToHome(){
        console.log("ENTRA");
        router.push({ name: 'home'})
      }

    }
  }
</script>
<style scoped>
.container { 
  background: url(../assets/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>
