
<template>
<v-container fluid>
        <appHeader/>
        <v-layout row wrap>
            <v-flex xs-12 md5 mb-1>
              <v-card >
                  <v-card-text>
                    <v-layout row wrap>
                      <v-flex class="mb-4" md3>
                          <v-avatar size="96" class="mr-4">
                              <img :src="require('@/assets/'+data[id].image)" alt="Avatar">
                          </v-avatar>          
                      </v-flex>
                      <v-flex>
                        <v-text-field
                          readonly
                          v-model="data[id].firstName"
                          label="Name">
                        </v-text-field>
                        <v-text-field
                          readonly
                          v-model="data[id].lastName"
                          label="Last Name">
                        </v-text-field>
                      </v-flex>
                    </v-layout>     
                      <v-layout row wrap justify-center align-center>
                        <v-flex >
                          <v-text-field
                          readonly
                          v-model="data[id].bcountry"
                          label="Birth Country">
                          </v-text-field>
                        </v-flex>
                        <v-flex>
                          <v-text-field
                          readonly
                          v-model="data[id].dob"
                          label="Birth Date">
                          </v-text-field>
                        </v-flex>
                        <v-flex md3>
                          <v-text-field
                          readonly
                          v-model="data[id].gender"
                          label="Gender">
                          </v-text-field>
                        </v-flex>
                      </v-layout>
                      
                      
                      <v-textarea
                          rows="3"
                          readonly
                          v-model="data[id].address"
                          label="Address">
                      </v-textarea>
                      <v-img width="300"
                        :src="require('@/assets/idcard.png')"                
                      ></v-img>
                      </v-card-text>
              </v-card>
            </v-flex>
            <v-flex xs-12 md3 mx-1 mb-1>
              <v-layout row>
                <v-flex>
                  <v-card>
                    <v-toolbar color="primary" dark >
                      <v-toolbar-side-icon></v-toolbar-side-icon>

                      <v-toolbar-title>Service</v-toolbar-title>

                      <v-spacer></v-spacer>

                      <v-btn icon>
                        <v-icon>search</v-icon>
                      </v-btn>
                    </v-toolbar>

                    <v-list two-line>
                      <template v-for="(item, index) in items">
                        <v-subheader
                          v-if="item.header"
                          :key="item.header"
                        >
                          {{ item.header }}
                        </v-subheader>

                        <v-divider
                          v-else-if="item.divider"
                          :key="index"
                          :inset="item.inset"
                        ></v-divider>

                        <v-list-tile
                          v-else
                          :key="item.title"
                          avatar
                          @click=""
                        >
                          <v-list-tile-avatar>
                            <img :src="item.avatar">
                          </v-list-tile-avatar>

                          <v-list-tile-content>
                            <v-list-tile-title v-html="item.title"></v-list-tile-title>
                            <v-list-tile-sub-title v-html="item.subtitle"></v-list-tile-sub-title>
                          </v-list-tile-content>
                        </v-list-tile>
                      </template>
                    </v-list>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-flex>
            <v-flex md2 mx-2 align-center >
              <v-card>
                <qrcode-vue :value="value" :size="size" level="H"></qrcode-vue>
              </v-card>
            </v-flex>
        </v-layout>
    <speedDial/>
    </v-container>
</template>
<script>
  import router from '../router.js';
  import appHeader from '../template/appHeader'
  import speedDial from '@/components/speedDial'
  import QrcodeVue from 'qrcode.vue';
  export default {
    components:{
      appHeader,
      speedDial,
      QrcodeVue
    },
    props:['id'],
    data () {
      return {
        drawer: null,
        loading: false,
        form: {
            firstName: 'John',
            lastName: 'Doe',
            contactEmail: 'john@doe.com',
            avatar: 'MALE_CAUCASIAN_BLOND_BEARD'
        },
        value: 'https://www.umg.edu.gt',
        size: 200,
        firstName:"",
        lastName:"",
        gender:"",
        bcountry:"",
        address:"",
        dob:"",
        image:"",
        showAvatarPicker: false,
        items: [
          { header: 'Financial' },
          {
            avatar: require('@/assets/bank-union.jpg'),
            title: 'Union Bank of India',
            subtitle: "<span class='text--primary'>Bank Account</span> Details"
          },
          { divider: true, inset: true },
          {
            avatar: require('@/assets/bank-chase.jpg'),
            title: 'Chase of India',
            subtitle: "<span class='text--primary'>Credit Card</span> Details"
          },
          { divider: true, inset: true },
          {
            avatar: require('@/assets/bank-america.png'),
            title: 'State Bank of India',
            subtitle: "<span class='text--primary'>Auto Loans</span> &mdash; Details"
          }
        ],
        data:[
              {
              id:0,  
              uid:"4444-5555-6666",
              firstName:"Tory",
              lastName:"Apgar",
              gender:"Male",
              bcountry:"Canada",
              address:"New Dnyaneshwar Nagar न्यू ज्ञानेश्वर नगर Rameshwari Nagpur, Maharastra 440027 India",
              dob:"12/05/1975",
              image:"avatar-3.png",
              },
              {
              id:1,  
              uid:"7777-8888-9999",
              firstName:"Seymour",
              lastName:"Brim",
              gender:"Male",
              bcountry:"Brazil",
              address:"Gotane Wada गोटाणे वाडा Nashik, Maharastra 422001 India",
              dob:"13/04/1965",
              image:"avatar-2.png",
              },
              {
              id:2,  
              uid:"1111-2222-3333",
              firstName:"Elinore",
              lastName:"Grosch",
              gender:"Female",
              bcountry:"Argentina",
              address:"Sector 11 प्रभाग क्र. ११ Sanpada Navi Mumbai, Maharastra India",
              dob:"29/10/1975",
              image:"avatar-10.png"
              },
              {
              id:3,  
              uid:"7777-5555-3333",
              firstName:"Yvone",
              lastName:"Heinen",
              gender:"Female",
              bcountry:"Chile",
              address:"Bethany Co-Operative Housing Society बेथनी का-ऑपरेटिव्ह हाउसिंग सोसायटी New Dinkar Co Operative Housing Society, Mahim Mumbai, Maharastra 400016 India",
              dob:"64/09/1955",
              image:"avatar-13.png"
              },
              {
              id:4,  
              uid:"1111-5555-9999",
              firstName:"Tod",
              lastName:"Brune",
              gender:"Male",
              bcountry:"Cuba",
              address:"Brothers Co-operative Housing Society Lieutenant Dilip Gupte Marg Mahim West, Mahim Mumbai, Maharashtra 400016 India",
              dob:"12/12/1964",
              image:"avatar-8.png"
              },
              {
              id:5,  
              uid:"7777-4444-1111",
              firstName:"Leonore",
              lastName:"Hollander",
              gender:"Female",
              bcountry:"EEUU",
              address:"River Bank Rd Naripur Bhadrak, Odisha 756100 India",
              dob:"20/01/1991",
              image:"avatar-12.png"
              },
              {
              id:6,  
              uid:"9999-6666-3333",
              firstName:"Rod",
              lastName:"Memmott",
              gender:"Male",
              bcountry:"Guatemala",
              address:"40A Swami Gunatit Nagar, Sanskar Nagar, Athwa Surat, Gujarat 395008 India",
              dob:"06/05/1945",
              image:"avatar-5.png"
              },
              {
              id:7,  
              uid:"1111-7777-3333",
              firstName:"Altha",
              lastName:"Kossman",
              gender:"Female",
              bcountry:"Alemania",
              address:"Kapadia Health Club St Dinbandhu Society, Bhatar, Athwa Surat, Gujarat 395001 India",
              dob:"15/01/1985",
              image:"avatar-11.png"
              },
          ]  

      }
    },    
    methods:{
      goToHome(){
        console.log("ENTRA");
        router.push({ name: 'home'})
      },
      openAvatarPicker () {
                this.showAvatarPicker = true
            },
      selectAvatar (avatar) {
                this.form.avatar = avatar
        }

    },
    created(){
      this.value = window.location.href
      console.log(this.id);
    }
  }
</script>
<style scoped>

</style>
