<template>  
      <v-card hover>
          <v-card @click="goProfile()">
            <v-card-title style="padding:1rem !important">              
            <v-layout row align-center justify-center>
              <v-flex>
                <v-avatar>
                  <v-img
                    :src="require('@/assets/'+image)"
                  ></v-img>
                </v-avatar>
              </v-flex>
              <v-flex>
                <span class="title font-weight-light">{{uid}}</span>
              </v-flex>
              <v-flex align-center justify-center>
                <v-chip outline color="blue" >{{bcountry}}</v-chip>
                <v-chip outline color="green">{{gender}}</v-chip>
              </v-flex>              
            </v-layout>
            </v-card-title>
          </v-card>
        <v-card-title primary-title>
          <div>
            <v-flex mp-1><strong>Nombre:</strong><span> {{firstName+" "+lastName}} </span></v-flex>
            <div><strong>Nac:</strong><span> {{dob}}</span></div>
            <div> </div>
          </div>
        </v-card-title>
        <v-card-actions style="padding:0px 8px">
          <v-spacer></v-spacer>
          <v-btn icon @click="show = !show">
            <v-icon>{{ show ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</v-icon>
          </v-btn>
        </v-card-actions>
        <v-slide-y-transition>
          <v-card-text v-show="show">
            {{address}}
          </v-card-text>
        </v-slide-y-transition>
      </v-card>
</template>

<script>
import router from '../router.js';
  export default {
    props:['id','uid','firstName','lastName','gender','bcountry','address','dob', 'image'],
    name: 'card',
    data () {
      return {
        show:false
      }
    },
    methods:{
      goProfile(){
        console.log(this.id);
      }
    }
  }
</script>

<style>

</style>
