<template>
    <v-container fluid grid-list-md>
      <v-flex xs12 sm6 md3>
          <v-text-field
            label="Buscar..."
            solo
            v-model="search"
          ></v-text-field>
        </v-flex>
    <v-data-iterator
      :items="people"
      :rows-per-page-items="rowsPerPageItems"
      :pagination.sync="pagination"
      content-tag="v-layout"
      :search="search"
      row
      wrap
    >
          <template v-slot:item="props">
            <v-flex xs12 py-1 px-1 hidden-md-and-up>  
              <cardMobile
                :id=props.item.id 
                :uid=props.item.uid 
                :firstName=props.item.firstName
                :lastName=props.item.lastName
                :gender=props.item.gender
                :bcountry=props.item.bcountry
                :address=props.item.address
                :dob=props.item.dob
                :image=props.item.image
              >
              </cardMobile>
            </v-flex>
            <v-flex md3 py-1 px-1 hidden-md-and-down>
              <cardDesktop
                :id=props.item.id 
                :uid=props.item.uid 
                :firstName=props.item.firstName
                :lastName=props.item.lastName
                :gender=props.item.gender
                :bcountry=props.item.bcountry
                :address=props.item.address
                :dob=props.item.dob
                :image=props.item.image
                v-on:click="say('hi')">
              </cardDesktop>
            </v-flex>
          </template>
        </v-data-iterator> 
          <speedDial>
          </speedDial>
    </v-container>
</template>

<script>
  import cardMobile from '@/components/cardMobile'
  import cardDesktop from '@/components/cardDesktop'
  import speedDial from '@/components/speedDial'

  export default {
    name:'dashboard',
    components: {
      cardMobile,
      cardDesktop,
      speedDial
    },
    data(){
      return{
        rowsPerPageItems: [4, 8, 12],
        pagination: {
          rowsPerPage: 4
        },
        search:"",
        people:[{}],
        data:[
              {
              id:0,  
              uid:"4444-5555-6666",
              firstName:"Tory",
              lastName:"Apgar",
              gender:"Male",
              bcountry:"Canada",
              address:"New Dnyaneshwar Nagar न्यू ज्ञानेश्वर नगर Rameshwari Nagpur, Maharastra 440027 India",
              dob:"12/05/1975",
              image:"avatar-3.png",
              },
              {
              id:1,  
              uid:"7777-8888-9999",
              firstName:"Seymour",
              lastName:"Brim",
              gender:"Male",
              bcountry:"Brazil",
              address:"Gotane Wada गोटाणे वाडा Nashik, Maharastra 422001 India",
              dob:"13/04/1965",
              image:"avatar-2.png",
              },
              {
              id:2,  
              uid:"1111-2222-3333",
              firstName:"Elinore",
              lastName:"Grosch",
              gender:"Female",
              bcountry:"Argentina",
              address:"Sector 11 प्रभाग क्र. ११ Sanpada Navi Mumbai, Maharastra India",
              dob:"29/10/1975",
              image:"avatar-10.png"
              },
              {
              id:3,  
              uid:"7777-5555-3333",
              firstName:"Yvone",
              lastName:"Heinen",
              gender:"Female",
              bcountry:"Chile",
              address:"Bethany Co-Operative Housing Society बेथनी का-ऑपरेटिव्ह हाउसिंग सोसायटी New Dinkar Co Operative Housing Society, Mahim Mumbai, Maharastra 400016 India",
              dob:"64/09/1955",
              image:"avatar-13.png"
              },
              {
              id:4,  
              uid:"1111-5555-9999",
              firstName:"Tod",
              lastName:"Brune",
              gender:"Male",
              bcountry:"Cuba",
              address:"Brothers Co-operative Housing Society Lieutenant Dilip Gupte Marg Mahim West, Mahim Mumbai, Maharashtra 400016 India",
              dob:"12/12/1964",
              image:"avatar-8.png"
              },
              {
              id:5,  
              uid:"7777-4444-1111",
              firstName:"Leonore",
              lastName:"Hollander",
              gender:"Female",
              bcountry:"EEUU",
              address:"River Bank Rd Naripur Bhadrak, Odisha 756100 India",
              dob:"20/01/1991",
              image:"avatar-12.png"
              },
              {
              id:6,  
              uid:"9999-6666-3333",
              firstName:"Rod",
              lastName:"Memmott",
              gender:"Male",
              bcountry:"Guatemala",
              address:"40A Swami Gunatit Nagar, Sanskar Nagar, Athwa Surat, Gujarat 395008 India",
              dob:"06/05/1945",
              image:"avatar-5.png"
              },
              {
              id:7,  
              uid:"1111-7777-3333",
              firstName:"Altha",
              lastName:"Kossman",
              gender:"Female",
              bcountry:"Alemania",
              address:"Kapadia Health Club St Dinbandhu Society, Bhatar, Athwa Surat, Gujarat 395001 India",
              dob:"15/01/1985",
              image:"avatar-11.png"
              },
          ]      
      
      }
    },
    created(){

      let data = this.data
      data.map(function(order){
        
      })

      this.people = data

    }
  }
</script>

<style>
.speed-dial { top: 0% !important }
#menu{
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
}
</style>
