<template>
      <v-speed-dial
      v-model="fab"
      right
      bottom
      transition="slide-y-reverse-transition"
      >
        <template v-slot:activator>
          <v-btn
            v-model="fab"
            color="#FF6D00"
            dark
            fab
          >
            <v-icon>menu</v-icon>
            <v-icon>close</v-icon>
          </v-btn>
      </template>
      <v-btn
        fab
        dark
        small
        color="primary"
        @click="goToHome"
      >
        <v-icon>house</v-icon>      
      </v-btn>
    
        <v-btn
          fab
          dark
          small
          color="primary"
          @click="goCloud"
        >      
          <v-icon>cloud</v-icon>
        </v-btn>
        <v-btn
          fab
          dark
          small
          color="primary"
          @click="goNews"
        >      
          <v-icon>notifications</v-icon>
        </v-btn>
      
      <v-btn
        fab
        dark
        small
        color="primary"
        @click="goToLogin"
      >
        <v-icon>logout</v-icon>      
      </v-btn>
    </v-speed-dial>
</template>
<script>
    import router from '../router.js';
  export default {
    name:'speedDial',
    data(){
      return{
        fab: false,        
      }
    },
    methods: {
    onClickButton (event) {
      this.$emit('clicked', 'someValue')
    },
    goToHome(){
      
        router.push({ name: 'home'})
    },
    goToLogin(){
        
        router.push({ name: 'login'})
    },
    goNews(){
        
        window.open('http://bit.ly/2VFSbQI','_blank');
    },
    goCloud(){
        
        window.open('http://bit.ly/2HwZlTJ','_blank');
    }
  }
  }
</script>

<style>
.v-speed-dial{
  position: fixed;
  bottom: 0.5em !important; 
}
</style>
