<template>
  <v-app>
    
    <v-content>      
        <router-view></router-view> 
             
    </v-content>
    <appFooter/>
  </v-app>
</template>

<script>
import appHeader from '@/template/appHeader.vue'
import appFooter from '@/template/appFooter.vue'

export default {
  name: 'App',
  components: {
    appHeader,
    appFooter
  },
  data () {
    return {
      //
    }
  }
}
</script>
